<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>localHemp WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>localHemp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>localHempMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B43E4E521A9B754800287B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B43E4E671A9B754800287B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B43E4E851A9B757600287B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B43E4F111A9C918400287B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B43E4F251A9C918400287B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
